.formcontainer{
    margin: 1rem auto 5rem; 
    border: 1px solid lightpink; 
    padding: 3px;
    border-radius: 10px;
    width: min(80vw, 450px);
    color: #fff; 
}

.title{
        margin: 2rem auto; 
        font-size: 2rem;
        width: 72%; 
        max-width: 500px; 
        background: -webkit-linear-gradient(90deg, rgba(251,63,145,1) 0%, rgba(192,70,252,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

.formbox{
    background: #121212;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.label1{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

.label2{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

.label3{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

.label4{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

.submit{
    margin: 0.5rem;
    padding: 0.5rem;
    border: 0;
    border-radius: 1.25rem;
    background: lightpink; 
    color: white;
    cursor: pointer;
}

.submit:hover{
    background-color: palevioletred;
    color: white;
}

.blueInput:focus {

  }

