.landing{
  margin-top: 2rem;
}

.landingbox {
    border-radius: 3rem;
    width: 80%; 
    max-width: 500px; 
    margin: 0 auto; 
}

.glow{
    margin: 2rem auto; 
    font-size: 4rem;
    text-align: center;
    color: #fff;
  }

  .glow2{
    color: #fff;
    -webkit-animation: glow2 1s ease-in-out infinite alternate;
    -moz-animation: glow2 1s ease-in-out infinite alternate;
    animation: glow2 1s ease-in-out infinite alternate;
  }

  @-webkit-keyframes glow2 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #38B6FF, 0 0 40px #38B6FF, 0 0 50px #38B6FF, 0 0 60px #38B6FF, 0 0 70px #38B6FF;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #38B6FF, 0 0 40px #38B6FF, 0 0 50px #38B6FF, 0 0 60px #38B6FF, 0 0 70px #38B6FF, 0 0 80px #38B6FF;
    }
  }

  @-webkit-keyframes glow3 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
  
  .introduction{
    margin: 2rem auto; 
    font-size: 2rem;
    width: 90%; 
  }

  .web3box{
    width: 80%; 
    max-width: 500px; 
    height: 300px; 
    margin: 0 auto; 
    background-color: #38B6FF;
    opacity: 0.8;
    color: white; 
  }