.box{
    list-style-type: none;
    border: 1px solid white;
}

.projectbox{ 
    display: flex;
    flex-direction: column;
}

.projectcontent{
    cursor: pointer;
}

.projectcontent:hover{
    color: lightpink; 
}

.links{
    display: flex;
    justify-content: flex-end;
    gap: 0.2rem; 
}

.skills{
    color: grey; 
    font-size: 0.7rem;
}

.changeColor{
    color: white
}

.changeColor:hover{
    color: lightpink; 
}

.iframebox{
    height: 300px; 
}