.box{
    list-style-type: none;
    border: 1px solid white;
    padding: 0.5rem;
    cursor: pointer; 
}

.box:hover{
    color: lightblue; 
}

.title{
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}

.date{
    color: grey; 
    font-size: 0.7rem;
}

.summary{
    color: lightgrey; 
}